<?xml version="1.0" encoding="utf-8" ?>
<module productName="EPiCode.Relations" loadLocalBin="false" >
  <assemblies>
    <add assembly="EPiCode.Relations" />
  </assemblies>

  <dojoModules>
    <add name="relations" path="11.1.3/Scripts" />
  </dojoModules>

  <clientModule initializer="relations/ModuleInitializer">
    <moduleDependencies>
      <add dependency="Shell"/>
    </moduleDependencies>
  </clientModule>

</module>
