

.noRelations
{
	padding-left: 35px;
}

.relationSelectorContainer
{
	margin: 10px 0 10px 0;
	float: left;
	clear: both;
	overflow: hidden;
	width: 100%;
}

.relationSelector
{
	float: left;
	border: 1px solid #999;
	height: 300px;
	width: 750px;
	background-color: #E3E3E3;
}

.relationSelector .header
{
	background-color: #575757;
	color: #fff;
	font-weight: bold;
	padding: 4px;
	height: 20px;
}

.relationSelector .browseArea
{
	float: right;
	height: 252px;
	border-left: 1px solid #999;
	padding: 10px;
	width: 359px;
	background-color: #fff;
}

.relationSelector .browseArea .pageTypeFilter
{
	margin-bottom: 5px;
}

.relationSelector .searchButton
{
	float: right;
	margin-bottom: 10px;
}

.relationSelector .relationArea
{
	color: #333;
	overflow: hidden;
	background-color: #E3E3E3;
}

.relationSelector .relationContainer
{
	width: 370px;
	height: 272px;
	overflow: auto;
}

.relationSelector .relationDescriptionContainer
{
	padding: 5px;
	background-color: #fff;
	border-bottom: 1px solid #999;
	overflow: hidden;
}

.relationSelector .relationDescription
{
	float: left;
	padding: 3px;
}

.relationSelector .loaderContainer
{
	display: none;
	margin: 5px 0px 0px 5px;
	padding: 3px;
	border: 1px solid #999;
	overflow: hidden;
	width: 320px;
	background-color: #f9f9f9;
	color: #333;
}

.relationSelector .loaderImage
{
	float: left;
	width: 20px;
	margin-top: 3px;
}

.relationSelector .loaderText
{
	float: left;
	width: 290px;
	padding: 2px;
}

.relationSelector .errorMessageContainer
{
	padding: 10px;
	width: 330px;
}

.relationSelector .errorMessageContainer .errorMessage
{
	padding-left: 35px;
}


.relationSelector .relationControl
{
	margin: 5px 0px 0px 5px;
	padding: 3px;
	border: 1px solid #999;
	overflow: hidden;
	width: 320px;
	background-color: #f9f9f9;
	color: #333;
}

.relationSelector .relationControl .relationControlImage
{
	float: left;
	width: 20px;
	margin-top: 3px;
}

.relationSelector .relationControl .relationControlText
{
	float: left;
	width: 290px;
	padding: 2px;
}
